:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: hwb(187 15% 29%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background{
  background-image: url('src/assets/gold-lotus-backgrounds-line-art.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px;
  font-size: 40px;
}

.container{
  background-color: white; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  padding: 100px;
  max-width: 400px; 
  width: 90%; 
  text-align: center;
}

div {
  font-family: Arial, sans-serif;
  text-align: center;

}

input {
  padding: 5px;
  margin: 10px 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: #0e315c;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 2px 2px 10px #ffffff53;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
